body {
	color: #2e2e2e;
}
i {
	margin-right: 10px;
}
/
.kt-menu__item > .kt-menu__link .kt-menu__link-text {
	font-size: 1.2rem !important;
}
.kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
	color: #2e2e2e;
	font-size: 1.2rem !important;
}
.kt-header-menu .kt-menu__nav > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link .kt-menu__link-text, .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link .kt-menu__link-text {
	color: #269f08;
}
.peta-js {
	padding: 0px !important;
}
.info-penyelenggara {
	font-size: 4.4rem;
	font-weight: 600;
	color: #89aa00;
}
.info-penyelenggara-nama {
	font-size: 2.7rem;
	font-weight: 500;
	color: #212121;
}
.kt-footer {
	background-color: white;
}
.vl {
	margin-left: 10px;
	border-left: 2px solid green;
	height: inherit
}
#filter_objek,
#filter_lokasi,
#filter_progress {
	height: 100%;
	border-right: 2px solid #616161;
}
#filter_objek,
#filter_lokasi,
#filter_progress,
#filter_periode {
	cursor: pointer;
}
#f_objek {
	top: -3px !important;
	left: -15px !important;
	width: 23vw;
}
#f_lokasi,#f_progress {
	top: 5px !important;
	left: -20px !important;
	width: 23.6vw;
}
#f_periode {
	top: 12px !important;
	left: -18px !important;
	width: 24.4vw;
}
.btn-link {
	font-size: 1.23rem;
	font-weight: 500;
	color: #212121;
}
#filter_objek h5,
#filter_lokasi h5,
#filter_progress h5,
#filter_periode h5{
	transition: 0.5s;

}
#filter_objek h5:hover,
#filter_lokasi h5:hover,
#filter_progress h5:hover,
#filter_periode h5:hover{
	font-size:1.6rem;
}
@media (max-width: 1024px){
	#logo_desktop {
		display: none;
	}
	.kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__toolbar-toggler {
		margin-right: 20px !important;
	}
	.pencarian_maps {
		display: block;
	}
	
}
@media (max-width: 768px) {
	#filter_objek,
	#filter_lokasi,
	#filter_progress {
		height: 100%;
		border-right: transparent;
	}
	.pembatas {
		display: block !important;
	}
	#f_objek {
		top: 3px !important;
		left: 0px !important;
		width: 100%;
	}
	#f_lokasi,#f_progress {
		top: 12px !important;
		left: 0px !important;
		width: 100%;
	}
	#f_periode {
		top: 11px !important;
		left: 0px !important;
		width: 100%;
	}
	#filter_objek h5:hover,
	#filter_lokasi h5:hover,
	#filter_progress h5:hover,
	#filter_periode h5:hover{
		font-size:1.4rem !important; 
	}
}
#chart_01 {
	width: 100%;
	height: 450px;
}
#chart_01a {
	width: 100%;
	height: 450px;
}
#stistik_progress_pembangunan {
	width: 100%;
	height: 450px;
}
.pencarian_maps{
	display: none;
}
.logo_footer{
	width: 100px;
}
#penjelasan_bsps {
	margin-top:45px;
}
#penjelasan_bsps p {
	font-size: 1.15rem;
}
#informasi_penyelenggara {
	margin-top: 40px
}
@media (max-width: 1024px){
	.logo_footer{
		width: 60px;
	}
	#penjelasan_bsps {
		margin-top:15px;
	}
	#penjelasan_bsps p {
		font-size: 1rem;
	}
	#informasi_penyelenggara {
		margin-top: 5px;
	}
	.info-penyelenggara-nama {
		font-size: 2rem;
	}
	.info-penyelenggara {
		font-size: 3.4rem;
	}
	.pencarian_maps {
		display: block;
	}
	#kt_gmap_1 {
		height: 350px !important;
	}
	.dropdown-menu {
		min-width: 18rem;
	}
	#foto_galeri {
		width: 100% !important;
	}
	#statik_01,#statik_02,#galeri_program {
		position: static !important;
		margin-top: 20px !important;
		margin-bottom: 10px;
	}
	.kt-footer .kt-footer__bottom .kt-footer__wrapper .kt-footer__menu {
		display: none
	}
	.progress_0,
	.progress_30,
	.progress_100 {
		margin-bottom: 0px;
	}
	#judul_mobile {
		display: block !important;
	}
}
@media (max-width: 800px) {
	.kt-separator.kt-separator--space-lg {
		display: block !important;
	}
}